* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: rgb(78,78,78);
  background: linear-gradient(0deg, rgba(78,78,78,1) 5%, rgba(74,74,74,1) 34%, rgba(0,0,0,1) 64%, rgba(92,92,90,1) 100%);
}

.navbar {svg{transition: 1s;
  fill: red;&:hover{fill: green;transition: 1s;}&:active{transition: 1s;
    fill: yellow;}
}
  &.h-80 {
    height: 80px;
  }
}

.navbar-brand {
  .m-right {
    margin: 25px;
  }

  svg {
    fill: red;
    transition: 2s;

    &:hover {
      fill: green;
      transition: 2s;
    }

    &:active {
      fill: yellow;
      transition: 2s;
    }
  }
}

.navbar-brand_img {

  &.i-width {
    width: 50px;
  }
}

.nav-item {
  .dropdown-menu {
    .dropdown-item {
      color: green;
      padding: 20px;
      font-style: normal;
transition: 1s;
      font-size: 10px;

      &:hover {transition: 1s;
        opacity: 60%;
        background: gainsboro;
        color: red;
      }
    }
  }

  transition: 1s;

  &:hover {
    transition: 1s;
    border-bottom: 1px solid red;
  }

  border-bottom: 2px solid transparent;
  color: #fff;
  margin: 10px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 17px;
  text-align: center;
}

.d-flex {
  .padding {
    margin-right: 50px;
    margin-left: 10px;
    border: none;
    background: darkred;
    color: white;
    padding: 10px 20px;
    transition: all 2s ease;
    position: relative;
    overflow: hidden;

    &:hover {
      color: green;
      background: yellow;
      transition: 1s;
    }

    &:active {
      color: white;
      background: #1900ff;
    }
  }
}


.navbar-dark .navbar-nav .nav-link {
  color: rgba(246, 0, 0, 0.55);transition: 1s;
&:hover{
  color: #007900;transition: 1s;
}
}

section {
  background-size: 100%;
  position: relative;
  z-index: 2;
  margin: 70px 0 0 0;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text-block__text {
    color: white;
    margin-top: 90px;
    text-align: center;

  }

  .viewBox__block {
    width: 800px;
    height: 402px;
    margin-top: -120px;

    path {
      fill: white;
    }
  }
}

.slide:hover,
.slide:focus {
  box-shadow: inset 14em 0 0 0 gray;
}

button {
  border: none;
  transition: 0.5s;

  &:hover,
  &:focus {
    color: #fff;
  }
}

.button1 {
  background-color: red;
  padding: 10px 10px;
}

.infogram {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;

  p {
    transition: 2s;

    &:hover {
      color: green;
      transition: 1s;
    }
  }
}

.video-youtube {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;

  iframe {

    width: 100%;
    height: 120%;
    margin-top: -70px;

  }
}

section {
  .news {
    .news__text-block {
      text-transform: uppercase;
      font-size: 250px;
      color: #e4e1e1;
    }

    .news__text-block1 {
      font-size: 70px;
      margin-left: 70px;
      margin-top: -100px;
      color: #a70000;
      z-index: 1;
    }
  }

}

.photos {
  width: 300px;
  height: 300px;
  transition: 3s;

  &:hover {;
    transition: 2s;
    width: 350px;
    height: 350px
  }
}

//FOOTER
.footer {
  margin-top: 200px;
  background: black;

  a {
    color: #FFFFFF;
    text-decoration: none;
  }

  display: flex;
  justify-content: space-between;

  .left-footer {
    .left-footer__title {
      margin: 0 0 0 150px;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 30px;
      color: #FFFFFF;
      text-decoration: none;

    }

    .left-footer__number {
      margin: 20px 0 0 350px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #FFFFFF;
    }

    .social {svg{transition: 2s;
      fill: #007900;&:hover{fill: #f800ff;transition: 2s;
      }
    }


      display: flex;
      justify-content: flex-end;

      .social_size {
        margin: 25px 0 0 20px;
      }
    }

    .left-footer__cards {
      display: flex;
      justify-content: flex-end;
      margin: 63px 9px 0 5px;

      .cards__nav {svg{transition: 2s;
        margin-bottom: 50px;
        fill: #007900;&:hover{fill: #f800ff;transition: 2s;
        }}
        margin: 0 0 0 20px;
      }
    }

  }

  .right-footer {
    margin: 40px auto 0 300px;
    justify-content: space-between;
    display: flex;

    .left-footer__info {
      display: flex;
      flex-direction: column;
    }

    .right-footer__info {
      margin: 0 0 0 82px;
      display: flex;
      flex-direction: column;
    }

    .info__title {
      margin: 0 0 22px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
    }

    .info__text {
      margin: 0 0 8px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      opacity: 0.5;
    }

  }
}
